/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/

/*here is the header*/
body {
  margin: auto;
  background-color: #F2F1E9;
}
header {
  display: flex;
  background: #FFFFFF;
}

nav a {
  color: #131511;
}
nav {
  align-items: center;
  margin: 0 auto;
}
ul {
  display: flex;
  align-content: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
li {
    margin: 15px 30px;
}
.home-link > a {
  color: #968772;
}
.logo {
  height: 30px;
  width: 30px;
  align-self: center;
}
/*this is the wrapper*/
.wrapper {

margin: auto;
display: flex;
flex-direction: column;
}
/*here is the top article*/
.top-article {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;

}
.ta-part1 {
  display: flex;

}
.ta-part1 p {

}
.top-article img {
  width: 90px;
  height: 90px;

}
.top-article h2 {
  text-align: center;
}
/*here is the banner*/
.banner {
  background-image: url(Images/product-1.jpg);
  width: 100%;
  /* margin: 0 -150px; */
  height: 300px;
  background-position: -1px -427px;
  background-repeat: no-repeat;
  color: white;

}
/*here is the bottom article*/
.bottom-article {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.row-1 {
  display: flex;
  flex-direction: row;
}
.shelf-space {
display: flex;
flex-direction: row;
}
.shelf-space img {
  height: 75px;
  width: 75px;
  justify-content: ;
  /* margin-top: 25px; */
  display: flex;
  float: top;
  margin-top: 30px;

}
.row-1 > h4 {
  text-align: left;
}
td, th {
  border: 2px solid black;
  margin: 0px;
}

/*here is the footer */
footer {
background-color: #2C2F27;
color: #FFFFFF;
padding: 20px;
margin-top: 10px;
}
