/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/

body {
  margin: auto;
  background-color: #F2F1E9;
}
header {
  display: flex;
  background: #FFFFFF;
}

nav a {
  color: #131511;
}
nav {
  align-items: center;
  margin: 0 auto;
}
ul {
  display: flex;
  align-content: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
li {
    margin: 15px 30px;
}
.home-link > a {
  color: #968772;
}
.logo {
  height: 30px;
  width: 30px;
  align-self: center;
}
/*going on to Main section*/
.main-content {
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 49px;
  font-family: 'Merriweather', serif;
  font-weight: 400;
}
h3 {

  font-size: 38px;
  font-family: 'Merriweather', serif;
  font-weight: 200;

}
first-row {
  display: flex;
}
second-row {
  display: flex;
}
/*photo section*/
.first-row > div {
margin: 10px;
}
.first-row {
  height: 300px;
  display: flex;
  justify-content: center;
}
.second-row > div {
margin: 10px;
}
.second-row {
  height: 300px;
  display: flex;
  justify-content: center;

}
.endless-possibilities {
  background-image: url(Images/product-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 50%;
}
.sets {
  background-image: url(Images/product-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 20%;
}
.textures {
  background-image: url(Images/product-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 20%;
}
.tea-time {
  background-image: url(Images/product-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 20%;
}
.jars-and-containers {
  background-image: url(Images/product-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 20%;
}
.wasabi-and-saki {
  background-image: url(Images/product-6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 30%;
}
.sippin-on-sunshine {
  background-image: url(Images/product-7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 20%;
}
/*Text inside the pictures*/
div > p {
  background-color: #2C2F27;
  color: #F2F1E8;
  position: absolute;
  margin-top: 229px;
  padding: 10px;
}
/*here is the footer*/
footer {
background-color: #2C2F27;
color: #FFFFFF;
padding: 20px;
margin-top: 10px;
}
